body {
  background-color: #ebeae8;
}
.home h1 {
  font-size: 64px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  margin-bottom: 20px;
  text-decoration: underline;
}
.home h2 {
  font-size: 43.2px;
  font-style: italic;
  text-align: center;
  color: #444444;
}
.home p {
  font-size: 20px;
  text-align: center;
  color: #444444;
  margin: 20px 0;
}
